/* Total Page */
:root {
    position: relative;
    min-height: 100%;
}

* {
    border: 2px solid red;
    box-sizing: border-box;
}

/* Main Body */

body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    min-height: 100vh;
}


.main {
 
}

/* Buttons */

.settings {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
}

button {
    border-radius: 3px;
    border: 2px solid black;
    background-color: red;
}

/* Etch-A-Sketch */

.container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    min-height: 100vh;
    width: 100%;
}